/* Formulario */

.cajaContenedoraFormulario {
    display: flex;
    justify-content: $centrar;
    align-content: $centrar;
    margin: 0vh 20vw;
    background-image: url();
}

.textoFormulario {
    font-family: $fuenteTexto;
    font-weight: 800;
    margin: 2vh 0vw;
    justify-self: $centrar;
    align-self: $centrar;
    font-size:$tamTexto + 0.3rem;
}

.boton {
    background-color: rgb(213, 207, 200);
    color: black;
    font-size:$tamTexto + 0.3rem;

    &:hover {
        background-color: rgb(219, 213, 206);
    }
}

.tamañoInput {
    font-size:$tamTexto + 0.4rem;
}