footer {
    margin-top: 10vh;
    border-top: 1px #b1b0b0 solid;
    text-align: center;
    padding-top: 60px;

    .iconos {
        display: flex;
        @include centrarContent;

        a {
            text-decoration: none;
            padding: 0px 15px;
            margin: 0px 0px 0px 20px;
            border-radius: 50px;
            color: rgb(6, 6, 6);
            font-size:$tamTexto + 0.9rem;
        }
    }

    .iconosMenu a {
        text-decoration: none;
        padding: 0px 15px;
        margin: 60px 0px 5px 10px;
        border-radius: 50px;
        color: rgb(6, 6, 6);
        font-size:$tamTexto + 0,9rem;
    }

    .footerBottom{
        margin: 30px 0px 20px 10px;

    }
}