/* RESPONSIVES */

@media (max-width: 600px) {
    /* Menu */

    footer {
        margin-top: 50px;
        width: 100%;
        height: auto;
        @include centrarSelf;
    }

    /* Proyectos */

    .textoAltura {
        height: 170px;
    }

    /* BIO */

    .portfolio {
        margin: 0vh 0vw;
        padding: 0px;
        width: 80%;
        height: auto;
    }

    .cajaContenedora1,
    .cajaContenedora2 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .cajaItemUno img {
        border-radius: 10px;
        height: 100%;
        width: 100%;
    }

    .cajaItemTres {
        padding-left: 0vh;
        padding-top: 5vh;
    }

    /* CONTACTO */

    .formulario {
        @include centrarSelf
    }

    .textoFormulario,
    .tamañoInput {
        font-size:$tamTexto - 0.2rem;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    /* Menu */

    footer {
        margin-top: 50px;
        width: 100%;
        height: auto;
    }

    /* Proyectos */

    .textoAltura {
        height: 230px;
    }

    /* BIO */

    .portfolio {
        margin: 0vh 0vw;
        padding: 0px;
        width: 80%;
        height: auto;
    }

    .cajaContenedora1,
    .cajaContenedora2 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .cajaItemUno img {
        border-radius: 10px;
        height: 100%;
        width: 100%;
    }

    .cajaItemTres {
        padding-left: 0vh;
        padding-top: 5vh;
    }

    /* CONTACTO */

    .textoFormulario,
    .tamañoInput {
        font-size: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    /* Menu */

    footer {
        margin-top: 50px;
        width: 100%;
        height: auto;
        @include centrarSelf
    }

    /* Proyectos...*/

    .textoAltura {
        height: 250px;
    }

    /* BIO */

    .cajaContenedora1,
    .cajaContenedora2 {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 0px;
    }

    .cajaItemUno {
        img {
            border-radius: 10px;
            height: 90%;
            width: 65%;
        }

        padding: 0px;
        margin: 0px;
    }

    .cajaItemTres {
        padding-left: 0vh;
        padding-top: 0vh;
    }

    .textoFormulario,
    .tamañoInput {
        font-size:$tamTexto + 0.2rem;
    }
}