/* Proyectos */

.textoAltura {
  height: 140px;
}

.tituloProyectos {
  text-align: $centrar;

}

.video {
  height: 24vh;
  object-fit: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.minutos {
  justify-self: right;
  align-self: right;
}

.fotoPortada{
    width: 75%;
    height: 20vh;
    padding-left:26vw;
    padding-top: 6vh;
    filter: blur(0.2rem);
    object-fit: cover;
  }

.textoMusica{
  font-size:$tamTexto + 0,2rem;
}

.hov:hover{
  transform: scale(1.01,1.01);
}

.player iframe{
  border-radius: 10px;
}

.player:hover{
transform: scale(1.01,1.01);
}
