/* Proyectos */

.textoAltura {
  height: 140px;
}

.tituloProyectos {
  font-family: $fuenteTexto;
  text-align: $centrar;
  font-weight: lighter;
}

.video {
  height: 24vh;
  object-fit: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.minutos {
  justify-self: right;
  align-self: right;
}