@charset "UTF-8";
@font-face {
  font-family: helvetica-th;
  src: url(../Font/HelveticaNeueLTStd-Th.otf);
}
/* @font-face {
  font-family: helvetica-roman;
  src: url(../Font/HelveticaNeueLTStd-Roman.otf);
} */
/* Estilos basicos de la pág */
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: rgb(230, 225, 219);
}

h2 {
  font-family: helvetica-th;
  text-align: left;
  font-weight: lighter;
}

p {
  font-family: helvetica-th;
  font-weight: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}
